<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Inicio</title>
</head>
<body>
<p>REGISTRO DE ADQUISICIONES</p>
<form method="POST" action="">{% csrf_token %}
{{ el_formulario.as_p }}
<input type="submit" value="Guardar">
</form>
</body>
</html>